.app_wrapper {
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: bisque;
  height: 100vh;
}
.form-wrapper {
  margin-top: 100px;
  background-color: goldenrod;
  position: relative;
  width: 50%;
  border-radius: 10px;
  padding: 5%;
}
.list_item {
  position: relative;
}

.to_do_input {
  width: 80%;
  height: 25px;
  margin-top: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  outline: none;
  padding-left: 10px;
  color: goldenrod;
}
.add_item {
  margin-left: 10px;
  border-radius: 5px;
  height: 25px;
  outline: none;
  width: 15%;
  position: absolute;
  right: 0px;
  top: 20px;
  background-color: bisque;
  color: goldenrod;
}
.content-wrrapper {
  position: relative;
}
.text-date {
  color: bisque;
}
.add_item:hover {
  background-color: white;
  color: goldenrod;
}
.add_item:active {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.list_item {
  color: bisque;
  margin-bottom: 20px;
  word-wrap: break-word;
}
.to_do_input::placeholder {
  color: goldenrod;
  font-size: 0.8rem;
}
.item_btn {
  border-radius: 50%;
  outline: none;
  color: goldenrod;
  position: absolute;
  right: -60px;
}
.del_btn {
  outline: none;
  color: goldenrod;
  position: absolute;
  right: -30px;
  border-radius: 50%;
}
.del_btn:hover {
  background-color: white;
  color: goldenrod;
}
.item_btn:hover {
  background-color: white;
  color: goldenrod;
}
.list_item:hover {
  color: white;
}
.item_btn:active {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.del_btn:active {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.list {
  max-width: 80%;
}
.done_list {
  text-decoration: line-through black;
}
@media screen and (max-width: 710px) {
  .form-wrapper {
    width: 98%;
    margin-top: 10px;
  }
  .app_wrapper {
    align-items: flex-start;
  }
  .to_do_input {
    height: 50px;
    font-size: 1.5rem;
    margin-bottom: 0px;
  }
  .add_item {
    height: 50px;
  }
  .list_item {
    font-size: 1.5rem;
  }
  .item_btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    right: -25%;
  }
  .del_btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    right: -12%;
  }
  .list_item {
    margin-top: 50px;
  }
  .text-date {
    font-size: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .list {
    width: 75%;
  }
  .item_btn {
    right: -38%;
  }
  .del_btn {
    right: -17%;
  }
}
@media screen and (max-width: 321px) {
  .list {
    width: 70%;
  }
    .item_btn {
    right: -46%;
}
